@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Roboto:wght@300&display=swap');

#content{
    display: flex;
    flex-direction: column;
    gap: 500px;
    margin: 300px auto;
    width: 60%;
}

#skip-content{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: black;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
    transform: translate(-200px, 0px);
}

#skip-content:focus{
    transform: translate(0px, 0px);
}

.center{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 300px;
}

/* remove when finished */

.wip{
    color: var(--green);
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn calc(var(--animation-time) * 4) 3s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
