@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Roboto:wght@300&display=swap');

:root{
    --bg-loading: #020c1b;
    --bg-portfolio: #0A192F;
}

.bg-dark{
    background-color: var(--bg-loading);
}

.bg-light{
    background-color: var(--bg-portfolio);
}

.App{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.5s;
}

.logo-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-67%, -57%);
}

.letter {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;  
    animation: fadeIn 2s cubic-bezier(.58,-0.17,.39,1.08) alternate 2;
    color: #64FFDA;
    font-size: 550%;
    transform: translate(47%, -38%);  
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s cubic-bezier(.6,0,.13,.36) alternate 2;
}
  
@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 500;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.Portoflio-bg{
    position: fixed;
}
