@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Roboto:wght@300&display=swap');

:root{
    --bg-loading: #020c1b;
    --bg-portfolio: #0A192F;
    --green: #64FFDA;
}

.bg-dark{
    background-color: var(--bg-loading);
}

.bg-light{
    background-color: var(--bg-portfolio);
}

.App{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.5s;
}

.logo-container{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    animation: shrink 0.3s 2s linear forwards;
}

.letter {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;  
    animation: fadeIn 2s 0s cubic-bezier(.58,-0.17,.39,1.08) forwards;
    color: var(--green);
    transform: translate(-50%, -50%);
    font-size: 550%;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    overflow: visible;
    transform: translate(9%, 17%);   
    animation: dash 2s 0s cubic-bezier(.6,0,.13,.36) forwards;
}
  
@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 500;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shrink {
    from {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }
}

.Portfolio-bg{
    color: var(--green);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
